* {
  box-sizing: border-box;
}

h1 {
  text-transform: uppercase;
}

.post-title {
  text-align: center;
}

.dots_bg {
  @include bg-image-svg-png('icons', 'circle-white');

  background-repeat: repeat-x;
  background-size: 8px;
  background-position: 0 50%;
}

@media #{$medium-up} {
  .csstransforms {
    .rotated-text {
      display: inline-block;
      overflow: hidden;
      line-height: 1.5;

      h2 {
        transform: translate(0, 75%) rotate(-45deg);

        @media #{$medium-only} {
          transform: translate(25%, 75%) rotate(-45deg);
        }

        display: inline-block;
        white-space: nowrap;
        transform-origin: 0 0;
        text-align: center;

        &:after {
         content: "";
         float: left;
         margin-top: 100%;
       }
     }
   }
 }
}

ul {
  margin: 1rem 0;
  list-style: none;

  li {
    margin-bottom: 0.25rem;
  }
}
