.page__header {
  background: $color-green-pastel;
}

.star-players {
  @extend .dots_bg;

  color: #FFF;
  margin: 0.5rem 0 1rem 0;
  text-align: center;

  @media #{$medium-up} {
    margin: 1rem 0 2rem 0;
  }

  span {
    background: $color-green-pastel;
    padding: 0 10px;
  }
}

.header__ribbon {
  margin-bottom: 0.8rem;

  @media #{$medium-up} {
    margin-bottom: 1.6rem;
  }

  a {
    width: 100%;
    height: auto;
    display: block;
  }

  img {
    width: 100%;
    height: auto;
  }
}
