.page__header {
  background: $color-green-pastel;
}

.page__footer {
  background: $color-green;

  .sponsors {
    background: $color-green-darkest;
  }
}

.dots_bg {
  @include bg-image-svg-png('icons', 'circle-white');

  background-repeat: repeat-x;
  background-size: 8px;
  background-position: 0 50%;
}

.star-players {
  @extend .dots_bg;
  color: #FFF;
  text-align: center;

  span {
    background: $color-green-pastel;
    padding: 0 20px;
  }
}

.content {
  width: 85%;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
  background-size: 25%;
  background-color: #fff;
  background-image: -webkit-linear-gradient(0deg, rgba(31, 151, 61, 1) 50%, transparent 50%, transparent);
  background-image: -moz-linear-gradient(0deg, rgba(31, 151, 61, 1) 50%, transparent 50%, transparent);
  background-image: linear-gradient(90deg, rgba(31, 151, 61, 1) 50%, transparent 50%, transparent);
}
