.page__header {
  background: $color-green-pastel;
}

.page__footer {
  background: $color-green;

  .sponsors {
    background: $color-green-darkest;
  }
}

.dots_bg {
  @include bg-image-svg-png('icons', 'circle-white');

  background-repeat: repeat-x;
  background-size: 8px;
  background-position: 0 50%;
}

.star-players {
  @extend .dots_bg;
  color: #FFF;
  text-align: center;

  span {
    background: $color-green-pastel;
    padding: 0 10px;
  }
}

