---
layout: frontpage
---

<div class="isotope row">
  {% for post in site.posts | post.published == TRUE %}
    <article itemscope itemtype="http://schema.org/Article" class="item medium-{{ post.medium-cols }} large-{{ post.large-cols }} columns">
      {% if post.image != null %}
        <img src="{{ post.image }}" alt="{{ post.title }}" />
      {% endif %}
      <header itemprop="name">{{ post.title }}</header>
      <div itemprop="articleBody">{{ post.content }}</div>
    </article>
  {% endfor %}
</div>
