<section class="small-12 columns footer">
  <div class="row">
    <div class="small-12 large-6 columns footer__events">
      <div class="row">
        <div class="medium-4 columns rotated-text">
          <h2>Upcoming</h2>
        </div>
        <div class="medium-8 columns">
          <ul>
            <li itemscope itemtype="http://schema.org/Event">
              <span itemprop="startDate" content="2015-04-11">11 april 2015</span> -
              <span itemprop="name">Minivoetbal tornooi Elewijt</span>
            </li>
            <li itemscope itemtype="http://schema.org/Event">
              <span itemprop="startDate" content="2015-05-01">1 mei 2015</span> -
              <span itemprop="name">Elewijt Cup</span>
            </li>
            <li itemscope itemtype="http://schema.org/Event">
              <span itemprop="startDate" content="2015-05-02">2 mei 2015</span> -
              <span itemprop="name">Volleybaltornooi Weerde Bierfeesten</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="small-12 large-6 columns footer__contact">
      <div class="row">
        <div class="medium-4 columns rotated-text">
          <h2>Contact</h2>
        </div>
        <div class="medium-8 columns">
          <ul>
            <li><a href="https://www.facebook.com/Toogkletsers" target="_blank" class="icon facebook">facebook</a></li>
            <!-- <li><a href="https://www.facebook.com/Toogkletsers" target="_blank" class="icon twitter">twitter</a></li> -->
            <li><a href="mailto:climacon+toogkletsers@gmail.com" target="_blank" class="icon mail">mail</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
