<section class="small-12 columns footer">
  <div class="row">
    <div class="small-12 large-6 columns footer__events">
      <div class="row">
        <div class="medium-4 columns rotated-text">
          <h2>Upcoming</h2>
        </div>
        <div class="medium-8 columns">
          <ul>
            <li>7 maart 2015 - Toogkletsersdag</li>
            <li>11 april 2015 - Minivoetbal tornooi Elewijt</li>
            <li>1 mei 2015 - Volleybaltornooi Weerde Bierfeesten</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="small-12 large-6 columns footer__contact">
      <div class="row">
        <div class="medium-4 columns rotated-text">
          <h2>Contact</h2>
        </div>
        <div class="medium-8 columns">
          <ul>
            <li>7 maart 2015 - Toogkletsersdag</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
