<div class="row header__testimonials">
  <div class="medium-6 columns">
    <p>Toogkletsers Elewijt werd in 2003 opgericht door enkele vrienden uit Elewijt als een zaalvoetbalploeg. Ondertussen hebben wij op sportief vlak een reputatie opgebouwd in de regio. Elk jaar spelen wij verscheidene vriendschappelijke wedstrijden en nemen wij deel aan diverse tornooien. In 2010 behaalden wij de zesde plaats en tevens de fair play prijs op het tornooi van Kampenhout. </p>
  </div>
  <div class="medium-6 columns">
    <p>De laatste jaren heeft de club zich ook gediversifieerd in andere sporttakken, zoals volleybal en go-karting. In 2013 werd bijvoorbeeld de eerste prijs gehaald in de go-kart race van JH De Jeppe.</p>
  </div>
  <div class="medium-12 columns">
    <p>Wij zijn steeds geïnteresseerd in vriendschappelijke wedstrijden in de regio Zemst / Mechelen, dus als u interesse hebt in een vriendschappelijke (zaalvoetbal)wedstrijd aarzel dan niet om ons te contacteren <a href="mailto:climacon+toogkletsers@gmail.com" target="_blank">via mail</a> of om een van onze spelers aan te spreken!</p>
  </div>
</div>

<div class="row header__stars">
    <h2 class="star-players"><span>Star players</span></h2>

    <img data-interchange="[images/players_m.png, (default)], [images/players_s.png, (small)], [images/players_m.png, (medium)], [images/players_l.png, (large)]">
    <noscript><img src="images/players_m.png"></noscript>
</div>
