<section class="small-12 columns sponsors">
  <div class="row">
    <div class="small-12 medium-4 columns sponsor"><a href="http://www.ontstop.be" target="_blank"><img src="images/sponsors/ontstopbe.png" alt="Ontstop.be" /></a></div>
    <div class="small-12 medium-4 columns sponsor"><a href="http://www.van-haesendonck.be" target="_blank"><img src="images/sponsors/vanhaesendonck.png" alt="Van Haesendonck" /></a></div>
    <div class="small-12 medium-4 columns sponsor"><a href="#" target="_blank"><img src="images/sponsors/steen.png" alt="'t Steen" /></a></div>
  </div>
  <div class="row">
    <div class="small-12 medium-6 small-centered columns">
      <div class="row">
        <div class="small-4 medium-4 columns sponsor"><a href="http://www.dujoo.be" target="_blank"><img src="images/sponsors/dujoo.png" alt="Dujoo" /></a></div>
        <div class="small-4 medium-4 columns sponsor"><a href="http://www.facebook.com/frituurfrenne" target="_blank"><img src="images/sponsors/frenne.png" alt="Frenne" /></a></div>
        <div class="small-4 medium-4 columns sponsor"><a href="#" target="_blank"><img src="images/sponsors/merckx.png" alt="Merckx" /></a></div>
      </div>
    </div>
  </div>
</section>
