<section class="sponsors">
  <div class="row">
    <div class="small-12 medium-4 columns">ONTSTOP</div>
    <div class="small-12 medium-4 columns">Van Haesendonck</div>
    <div class="small-12 medium-4 columns">'t Steen</div>
  </div>
  <div class="row">
    <div class="small-12 medium-6 small-centered columns">
      <div class="row">
        <div class="small-4 medium-4 columns">ONTSPOT</div>
        <div class="small-4 medium-4 columns">ONTSPOT</div>
        <div class="small-4 medium-4 columns">ONTSPOT</div>
      </div>
    </div>
  </div>
</section>
