<div class="row height">
  <div class="large-2 columns height">
    <div class="stripes"></div>
  </div>
  <div class="large-2 columns height">
    <div class="stripes"></div>
  </div>
  <div class="large-2 columns height">
    <div class="stripes"></div>
  </div>
  <div class="large-2 columns height">
    <div class="stripes"></div>
  </div>
  <div class="large-2 columns height">
    <div class="stripes"></div>
  </div>
  <div class="large-2 columns height">
    <div class="stripes"></div>
  </div>
</div>
